{% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}

<div class="archive">
  {% for yearMonth in postsByYearMonth %}
    {% assign exclude_month = false %}
    {% for post in yearMonth.items %}
      {% if post.exclude == true %}
        {% assign exclude_month = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% unless exclude_month %}
      <h2>{{ yearMonth.name }}</h2>
      <ul>
        {% for post in yearMonth.items %}
          {% unless post.exclude == true %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}.</a>
              <span class="lead">{{ post.lead }}</span>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    {% endunless %}
  {% endfor %}
</div>